<%= render 'shared/header' %>

<div class="article-lists">
  <%= form_with model: @article, url:article_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    
    <%= render partial: "shared/article_form", locals: { article: @article, f: f } %>

    <div class="article-footer">
      <%= link_to "前に戻る", article_path(@article.id), id: "show", class: "btn btn-radius" %>
      <%= f.submit "投稿する", id: "submit", class:"btn btn-radius" %>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>
