<%= render 'shared/header' %>

<div class="article-lists">
  <div class="search-result">
    <% if @articles.empty? %>
      <h3><%= "#{@user.nickname} さんの記事はありません" %></h3>
    <% else %>
      <h3><%= "#{@user.nickname} さんの記事一覧" %></h3>
    <% end %>
  </div>
  <% @articles.each do |article| %>
    <%= render partial: "shared/article_content", locals: { article: article } %>
  <% end %>
  
</div>

<%= render 'shared/footer' %>