<%= render 'shared/header' %>

<div class="article-lists">
  <%= render partial: "shared/article_content", locals: { article: @article } %>
    
  <% if user_signed_in? && current_user == @article.user %>
    <div class="article-footer">
      <%= link_to "編集する", edit_article_path, id: "edit", class: "btn btn-radius" %>
      <%= link_to "削除する", article_path, method: :delete, id: "delete", class: "delete-btn btn-radius" %>
      <p class="form-guideline">
        ※「削除する」ボタンを押すと記事が即時削除されます。復元できませんので十分ご注意ください。
      </p>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>