  
<div class="article-content">
  <%= render 'shared/error_messages', model: f.object %>
  <div class="description">
    <div class="title">
      <%= f.text_field :title, class:"title-form" %>
      <p class="text-caution">※タイトルは30文字以内でご記入ください。</p>
    </div>
    <div class="genre">
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>
  </div>
  <div class="main-content">
    <div class="article-body">
      <%= f.text_area :text, class:"input-text", id:"article_text" %>
      <div class="word-count">
        <p class="text-caution">※2000文字以内でご記入ください。</p>
        <p class="text-length" >現在<span id="char_num">0</span>文字</p>
      </div>
    </div>
    <div class="deck-tables">
      <div class="grid-fit">
        <div class="item" id="img1">1枚目</div>
        <div class="item" id="img2">2枚目</div>
        <div class="item" id="img3">3枚目</div>
        <div class="item" id="img4">4枚目</div>
        <div class="item" id="img5">5枚目</div>
      </div>
      <div class="select-tabs">
        <div class="monster-fit">
          <%= f.collection_select(:mons1_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons2_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons3_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons4_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons5_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
        </div>
        <div class="arcana-fit">
          <%= f.collection_select(:arc1_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc2_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>    
          <%= f.collection_select(:arc3_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc4_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc5_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
        </div>
      </div>
      <div class="grid-fit">
        <div class="item" id="img6">6枚目</div>
        <div class="item" id="img7">7枚目</div>
        <div class="item" id="img8">8枚目</div>
        <div class="item" id="img9">9枚目</div>
        <div class="item" id="img10">10枚目</div>
      </div>
      <div class="select-tabs">
        <div class="monster-fit">
          <%= f.collection_select(:mons6_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons7_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons8_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons9_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons10_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
        </div>
        <div class="arcana-fit">
          <%= f.collection_select(:arc6_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc7_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>    
          <%= f.collection_select(:arc8_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc9_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc10_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
        </div>
      </div>
      <div class="grid-fit">
        <div class="item" id="img11">11枚目</div>
        <div class="item" id="img12">12枚目</div>
        <div class="item" id="img13">13枚目</div>
        <div class="item" id="img14">14枚目</div>
        <div class="item" id="img15">15枚目</div>
      </div>
      <div class="select-tabs">
        <div class="monster-fit">
          <%= f.collection_select(:mons11_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons12_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons13_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons14_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons15_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
        </div>
        <div class="arcana-fit">
          <%= f.collection_select(:arc11_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc12_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>    
          <%= f.collection_select(:arc13_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc14_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc15_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
        </div>
      </div>
      <div class="grid-fit">
        <div class="item" id="img16">16枚目</div>
        <div class="item" id="img17">17枚目</div>
        <div class="item" id="img18">18枚目</div>
        <div class="item" id="img19">19枚目</div>
        <div class="item" id="img20">20枚目</div>
      </div>
      <div class="select-tabs">
        <div class="monster-fit">
          <%= f.collection_select(:mons16_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons17_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons18_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons19_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
          <%= f.collection_select(:mons20_id, Monster.all, :id, :name, {}, {class:"mons-select"})%>
        </div>
        <div class="arcana-fit">
          <%= f.collection_select(:arc16_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc17_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>    
          <%= f.collection_select(:arc18_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc19_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
          <%= f.collection_select(:arc20_id, Arcanum.all, :id, :name, {}, {class:"arc-select"})%>
        </div>
      </div>
    </div>
  </div>
</div>