<header>
  <h1>
    <%= link_to "ドラゴンクエストＸ 占い師デッキレシピ集", root_path %>
  </h1>
  <div class="global-nav">
    <ul class="nav-bar">
      <li><%= link_to "検索する", search_articles_path, class:"search" %></li>
      <li><%= link_to "投稿する", new_article_path, class:"post" %></li>
      <% if user_signed_in? %>
        <li><%= link_to "マイページ", my_page_articles_path(user_id: current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>