
<%= render 'shared/header' %>

<div class="form-wrapper">
  <div class="form-title">
    <h1>ログイン</h1>
  </div>
  <div class='login-flash-message'>
    <%= flash[:alert] %>
  </div>
  <%= form_with model: @user, url: user_session_path, class: 'new_user', local: true do |f| %>
    <div class="form-item">
      <label class="form-text">メールアドレス</label>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="form-item">
      <label class="form-text">パスワード</label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="button-panel">
      <%= f.submit "ログイン", class: "button" %>
    </div>
    <div class="form-footer">
      <p class="form-guideline">
        このページで利用している株式会社スクウェア・エニックスを代表とする共同著作者が権利を所有する画像の転載・配布は禁止いたします。
      </p>
      <p class="form-guideline">
        (C) ARMOR PROJECT/BIRD STUDIO/SQUARE ENIX All Rights Reserved.
      </p>
    </div>
  <% end %>
</div>